@import "compass/css3";
@import "./_var";

$theme: #12172d;
$theme-color: white;
$sidemenu-width:  80px;
$bar-height: 55px;
$bottom-bar-height: 60px;

.ellipsis-text{
  @extend %ellipsis-text;
}

.dialog-box{
  z-index: 4;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  transition-property: top,bottom;
  transition-duration: .2s;
  &.open{
    top: 0;
    bottom: 0;
  }
  .mask{
    background-color: rgba(0,0,0,.1);
    @include backdrop-filter(blur(2px));
  }
  .box{
    background-color: #fff;
    padding: 1em;
    @include box-shadow(0 2px 4px 0 #777);
  }
}
.avatar{
  background-color: #eee;
}
.float-wrapper{
  padding: .3em;
  button{
    --size: 50px;
    display: block;
    border: 0;
    width: var(--size);
    height: var(--size);
    font-size: 1.4em;
    background-color: $theme;
    color: $theme-color;
    border-radius: 50%;
  }
}

.wrapper {
  padding: .5em 0;
}

#login{
  @include background-image(url(../assets/background.jpg));
  .mask{
    padding: .4em 0;
    @include background-image(linear-gradient(-45deg, $theme 30%, rgba(18,23,45,0.98)  50%, rgba(255,255,255,0.94) 50%, $theme-color 80%));
  }
  .box{
    background-color: $theme-color;
    padding: 1em;
    padding-bottom: 2em;
    @include box-shadow(0 0 .6em 0 $theme);
    @include border-radius(.4em);
    .banner{
      padding: .8em .4em 0 .4em;
      h1{
        padding: 0 .4em;
      }
    }
    h2{
      padding: .4em 0;
      margin-bottom: .4em;
      font-family: Lexend;
      letter-spacing: .4em;
    }
  }
  .logo{
    height: 3.5em;
    background-image: url(../assets/white-logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .wrapper{
    .field{
      height: 50px;
    }
  }
  button{
    margin-top: .4em;
    background-color: $theme;
    color: $theme-color;
  }
  .footer{
    padding: .5em 2em .5em .5em;
    font-family: Poppins, serif;
    color: $theme-color;
  }
}

#main-panel{
  background-color: #eee;
  $sidemenu-width: 0%;
  .sidemenu{
    padding: 3em .4em;
    transition-duration: .3s;
    transition-property: width;
    width: $sidemenu-width;
    .user-zone{
      height: 70px;
      text-decoration: none;
    }
    .avatar{
      background-color: $theme;
      color: $theme-color;
      font-family: Poppins;
      font-size: .9em;
      text-decoration: none;
    }
    .toggler{
      font-size: 1.4em;
      padding: .4em 0;
    }
    button icon{
      color: $theme;
    }
    .link{
      --height: 55px;
      padding: .4em;
      height: var(--height);
      color: $theme;
      margin: .2em 0;
      border-radius: 2em;
      text-decoration: none;
      icon{
        width: 40px;
        border-radius: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.4em;
      }
      .text{
        display: none;
        padding: .4em;
        padding-left: 1em;
        font-family: Poppins;
      }
      &.active{
        icon{
          background-color: $theme;
          color: $theme-color;
          box-shadow: 0 1px 3px 0 #333;
        }
        .text{
          font-family: Poppins-Bold;
        }
      }
    }
  }
  .view-wrapper{
    width: calc(100% - #{$sidemenu-width});
    overflow: hidden;
    transition-duration: .3s;
    transition-property: width;
    border-radius: .4em 0 0 .4em;
    background-color: white;
  }
  &.expanded{
    $sidemenu-width: 300px;
    .sidemenu{
      width: $sidemenu-width;
      .link{
        justify-content: left;
        .text{
          display: inline-block;
        }
      }
      .user-zone{
        justify-content: left;
        padding-left: 1em;
      }
      .toggler{
        text-align: left;
        padding: 0;
      }
    }
    .view-wrapper{
      width: calc(100% - #{$sidemenu-width});
      box-shadow: -1px 0 3px 0 #777;
    }
  }
  .view-app-bar{
    //box-shadow: 0 1px 3px 0 #777;
    height: $bar-height;
    background-color: $theme-color;
    .title{
      font-family: Poppins-Bold;
      color: $theme;
      color: $theme;
      font-size: 1.3em;
      padding: 0 .3em;
    }
    .back-to-prev{
      @extend %appbar-icon;
      font-size: 1.2em;
    }
    .avatar{
      font-size: .9em;
    }
    .user-info{
      padding: .2em .4em;
      label{
        @extend %ellipsis-text;
        color: #555;
        &.name{
          font-family: Poppins-SemiBold;
          color: black;
        }
        &.nick{
          font-size: .8em;
        }
      }
    }
    .appbar-icons{
      padding: 0 .3em;
      icon{
        @extend %appbar-icon;
      }
    }
  }
  .view-body{
    height: calc(100%);
    padding: .3em .3em $bar-height .3em;
  }
  .view-bottom-bar{
    //height: $bottom-bar-height;
    //box-shadow: 0 -1px 4px 0 #777;
    z-index: 3;
    background-color: $theme-color;
    .link{
      padding: 0 .1em;
      text-decoration: none;
      color: #777;
      icon{
        --size: 52px;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        font-size: 1.5em;
        position: relative;
        top: -10px;
        margin-bottom: -15px;
        border-radius: 50%;
        //box-shadow: 0 -1px 4px 0 white;
      }
      .text, span.MuiBottomNavigationAction-label{
        font-family: Lexend-Medium;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        font-size: .7em;
      }
      &.active, &.Mui-selected{
        color: $theme;
        icon{
          background-color: $theme;
          color: $theme-color;
          box-shadow: 0 -4px 4px 4px $theme-color;
          //top: -15px;
          //margin-bottom: -15px;
        }
        .text, span.MuiBottomNavigationAction-label{
          color: red;
          display: none !important;
        }
      }
    }
  }
}

.presentation{
  padding: .4em;
  .grid-filter{
    padding: 0 .4em;
    .field-group{
      padding: 0 .5em;
      label{
        padding: .4em;
        font-family: Lexend-Medium;
        font-size: .8em;
      }
      .field{
        padding: 0 .3em;
      }
    }
  }
  .grid{
    padding: .5em;
    //background-color: rgba(240,240,240,.5);
    border-radius: .8em;
  }
}

.editor{
  .head{
    padding: .4em;
    .title{
      font-family: Lexend-Medium;
      font-size: 1.2em;
      padding: 0 .4em;
      &.empty{
        color: #777;
      }
    }
    .actions{
      padding: 0 .4em;
      button{
        margin-right: .3em;
      }
    }
  }
  .ck{
    &.ck-editor {
      width: 100%;
      max-height: 95%;
      border: 1px solid #ccc;
      border-radius: .4em;
      overflow: hidden;
    }
    &.ck-toolbar{
      border: 0;
    }
    &.ck-editor__main{
      height: 90%;
      max-height: 90%;
      overflow: hidden;
      overflow-y: auto;
    }
    &.ck-content{
      min-height: 100%;
      border: 0 !important;
      box-shadow: unset !important;
      @extend %article-reading-view;
    }
  }
}

.article-reader{
  @extend %article-reading-view;
}

.empty-temp{
  padding: .4em;
  color: #777;
  icon{
    font-size: 2.5em;
    padding: 1em;
  }
  .text{
    font-family: Roboto;
    font-size: 1.2em;
  }
}

.category-editor{
  padding: 0 .4em;
  .head{
    padding: .4em 0;
    font-family: Poppins;
    color: #555;
  }
}

.article-list{
  padding: .4em;
  .article-preview{
    padding: .4em;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #eee;
    .caption{
      height: 20vmin;
      background-color: #eee;
      border-radius: 1em;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .metadata{
      padding: 0 0 0 .5em;
      .title{
        font-family: Lexend-Medium;
        font-size: 1.2em;
        .category{
          padding: .2em .4em;
          background-color: #ccc;
          margin: .2em .4em;
          font-size: .8em;
          border-radius: .4em;
        }
      }
      .grid{
        padding: .2em 0;
        font-family: OpenSans;
        font-size: .9em;
        .dot{
          display: inline-block;
          width: 3px;
          height: 3px;
          border-radius: 3em;
          background-color: #555;
        }
        .item{
          padding: 0 .5em;
          .label{
            padding: .2em;
            font-family: Poppins;
            font-weight: bold;
          }
        }
      }
      .else{
        span{
          font-size: .9em;
        }
      }
    }
  }
  .draft-item{
    padding: .5em;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: black;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 10%;
      height: 80%;
      display: block;
      width: 3px;
      border-radius: .5em;
      background-color: #cb8;
    }
    .title{
      font-family: Lexend-Medium;
      font-size: 1.2em;
      padding: .4em 0;
    }
    .category{
      font-size: 1em;
      padding: .2em 0;
    }
    .date{
      padding: .2em 0;
      font-size: .8em;
    }
    .actions{
      button{
        margin: 0 .2em;
        text-transform: capitalize;
      }
    }
  }
}

.studio{
  padding: .4em;
  padding-bottom: 60px;
  .header{
    padding: .4em;
    label{
      font-family: Poppins-SemiBold;
      font-size: 1.4em;
      padding: 0 .4em;
    }
    .actions{
      padding: 0 .4em;
    }
  }
  .wrapper{
    padding: .4em .2em;
  }
  .render{
    padding: .3em;
    overflow-x: hidden;
    background-color: #efefef;
    canvas{
      background-color: #fff;
    }
    .image-preview{
      width: 50px;
      height: 50px;
      background-color: #eee;
      color: #777;
      border: 1px solid #ccc;
      border-radius: .5em;
      margin-right: .5em;
    }
    button{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      margin: 0 .2em;
    }
  }
  .data{
    padding: .4em;
  }
  .mask{
    background-color: rgba(230,230,230,0.5);
    @include backdrop-filter(blur(5px));
  }
}

.studio-config{
  .wrapper{
    padding: .4em .2em;
  }
}

.studio-grid{
  .punchline{
    padding: .3em;
    img{
      height: 25vmin;
      border: 1px solid #ccc;
      background-color: #eee;
      border-radius: .4em;
    }
  }
}

.upload-info{
  .wrapping{
    padding: .2em;
    .wrapping{
      padding: .2em .4em;
    }
  }
  .process-text{
    font-size: .8em;
  }
}

.message-row{
  padding: .4em;
  padding-left: .8em;
  text-decoration: none;
  color: #000;
  border-radius: .5em;
  position: relative;
  &.unread:before{
    position: absolute;
    content: '';
    width: 5px;
    height: 60%;
    background-color: $theme;
    left: .1em;
    top: 20%;
    border-radius: .8em;
  }
  .avatar{
    border-radius: .7em;
    background-color: $theme;
  }
  .data{
    padding: .2em 0 .2em .5em;
    .name{
      padding: .2em 0;
      font-family: Poppins-SemiBold;
      font-size: 1.1em;
    }
    .date{
      font-family: Roboto-Light;
      font-size: .8em;
    }
    .message{
      padding: .2em .2em 1em .2em;
      font-size: .9em;
      border-bottom: 1px solid #ccc;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status{
      padding: .2em 0;
      color: #777;
      icon{
        padding: .1em .4em;
        font-size: 1.2em;
      }
    }
  }
  &:hover{
    background-color: rgba(240,240,240,0.5);
  }
}

.messages{
  .header{
    padding: .4em;
    .sort-chip{
      margin: 0 .2em;
      &.icon icon{
        font-size: 1.6em;
        position: relative;
        left: 6px;
      }
    }
  }
}

.inbox{
  padding: .4em;
  .header{
    padding: .4em;
    border-bottom: 1px solid #ccc;
    .name{
      padding: .3em 0;
      font-family: Lexend-Medium;
      font-size: 1.2em;
    }
    .reference{
      padding: .2em 0;
      .data{
        padding: 0 .3em;
        font-family: Roboto;
        font-size: .9em;
      }
    }
  }
  .body{
    padding: .4em;
    .replier{
      background-color: #fff;
      @include transform(translate3d(0,100%,0));
      transition-duration: .3s;
      transition-property: transform;
      &.open{
        @include transform(translate3d(0,0,0));
      }
    }
    .message{
      padding: .5em;
    }
    .reply{
      padding: .4em;
      border-radius: .8em;
      background-color: rgba(240,240,240,.7);
      border: 1px solid #ddd;
      margin: .2em 0;
      &:first-child{
        padding-top: .8em;
      }
      .header{
        padding: .3em;
        icon{
          font-size: 1.3em;
          padding: .5em;
        }
        .subject{
          padding: 0 .4em;
          font-family: Lexend-Medium;
        }
        .by{
          padding: .4em;
        }
        .date{
          font-size: .8em;
        }
      }
    }
  }
}

.integration{
  padding: .2em;
  .header{
    padding: .4em;
  }
  .wrapper{
    padding: .3em;
  }
  .branch{
    padding: .4em .2em;
  }
  .privilegies-list{
    padding: 0 .4em;
    .privileges-group{
      padding: .2em;
    }
    .privilegies-items{
      padding: .2em .2em .2em 2em;
    }
  }
}

.communauty{
  .list{
    padding: .4em 0;
  }
}

.usr{
  padding: .4em;
  .id-box{
    padding: .4em 0;
    border-bottom: 1px solid #ccc;
    .avatar{
      width: 120px;
      height: 120px;
      font-size: 3.3em;
      overflow: hidden;
      background-color: $background2;
      .mask{
        border-radius: 100%;
        background-color: rgba(10,50,100,0.3);
        @include backdrop-filter(blur(5px));
      }
    }
    .pick-photo{
      position: relative;
      height: 40px;
      border-radius: 3em;
      min-width: 40px !important;
      max-width: 40px !important;
      font-size: 1.3em;
      margin-top: -30px;
      left: 30px;
    }
    .since{
      padding: .2em;
      font-size: .8em;
    }
    .name{
      padding: .4em;
      font-family: Poppins-SemiBold;
      font-size: 1.4em;
      icon{
        padding: 0 .3em;
        color: #135763;
      }
    }
  }
  .infos{
    padding: .4em;
    .row{
      padding: .3em;
      font-size: 1.2em;
      icon{
        padding: .4em;
        color: #555;
      }
      div{
        font-size: .9em;
        padding: .2em .3em;
      }
    }
  }
  .branches{
    .head{
      padding: .4em;
      .text{
        padding: .4em;
        font-size: .9em;
        font-family: Lexend-Medium;
      }
      margin-bottom: .2em;
      border-bottom: 1px solid #ddd;
    }
    .access-group{
      padding: .4em;
      font-size: 1em;
      height: 50px;
      margin: .1em 0;
      position: relative;
      z-index: 1;
      .progress-line{
        border-radius: 2em;
        height: 40px;
        top: 5px;
      }
      label{
        position: relative;
        font-family: OpenSans-Semibold;
        font-size: .9em;
        z-index: 2;
        &:before{
          content: " ";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: .4em;
          position: relative;
          left: -.5em;
          background-color: $background2;
        }
      }
    }
  }
}

.reload-view{
  padding: .4em;
  icon{
    font-size: 4em;
    padding: .4em;
  }
  .message{
    padding: .3em;
    font-family: Lexend-Light;
    font-size: 1.4em;
    margin-bottom: .4em;
    color: #777;
  }
}

.settings{
  h1{
    padding: .5em;
  }
  .search-zone{
    border-radius: 2em;
  }
  .color-intent{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: .4em;
    @include box-shadow(0 0 2px 1px #888);
  }
}

//@Override
.option-item{
  icon{
    padding: .1em .5em .1em .2em;
    font-size: 1.2em;
  }
}
.mui-button{
  text-transform: capitalize !important;
}
.MuiFab-root{
  background-color: $theme !important;
  icon{
    color: white;
  }
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  &, &.Mui-focused {
    background-color: $theme;
    color: $theme-color;
  }
}

@media (min-width: 768px) {
  $sidemenu-width: 80px;
  #main-panel{
    .sidemenu{
      width: $sidemenu-width;
    }
    .view-wrapper{
      width: calc(100% - #{$sidemenu-width});
    }
  }
  .studio{
    padding-bottom: .4em;
  }
}