/* line 1, ../../sass/_var.scss */
:root {
  --theme: white;
  --theme-2: white;
  --theme-color: black;
  --theme-global: var(--theme);
  --font-family0: Poppins;
  --font-family1: Poppins-Bold;
  --header-height: 60px;
}

/* line 24, ../../sass/_var.scss */
#main-panel .view-app-bar .back-to-prev, #main-panel .view-app-bar .appbar-icons icon {
  --size: 34px;
  text-align: center;
  margin: 0 .4em;
  cursor: pointer;
}

/* line 38, ../../sass/_var.scss */
.editor .ck.ck-content h1, .editor .ck.ck-content h2 {
  font-family: Poppins-SemiBold;
  font-weight: normal;
}
/* line 42, ../../sass/_var.scss */
.editor .ck.ck-content h1 {
  font-size: 2.4em;
}
/* line 45, ../../sass/_var.scss */
.editor .ck.ck-content h2 {
  font-size: 2em;
}
/* line 48, ../../sass/_var.scss */
.editor .ck.ck-content h3 {
  font-size: 1em;
}
/* line 51, ../../sass/_var.scss */
.editor .ck.ck-content h4 {
  font-size: .9em;
}
/* line 52, ../../sass/_var.scss */
.editor .ck.ck-content p {
  font-family: Merriweather-Light;
}
/* line 55, ../../sass/_var.scss */
.editor .ck.ck-content span.image-inline.ck-widget {
  width: 50%;
  float: left;
  margin: .3em .3em .3em 0;
}
/* line 60, ../../sass/_var.scss */
.editor .ck.ck-content figure {
  width: 100%;
}
/* line 62, ../../sass/_var.scss */
.editor .ck.ck-content figure.ck-widget-image-style-side {
  width: 50%;
}

/* line 10, ../../sass/style.scss */
.dialog-box {
  z-index: 4;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  transition-property: top,bottom;
  transition-duration: .2s;
}
/* line 19, ../../sass/style.scss */
.dialog-box.open {
  top: 0;
  bottom: 0;
}
/* line 23, ../../sass/style.scss */
.dialog-box .mask {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
/* line 27, ../../sass/style.scss */
.dialog-box .box {
  background-color: #fff;
  padding: 1em;
  -moz-box-shadow: 0 2px 4px 0 #777;
  -webkit-box-shadow: 0 2px 4px 0 #777;
  box-shadow: 0 2px 4px 0 #777;
}

/* line 33, ../../sass/style.scss */
.avatar {
  background-color: #eee;
}

/* line 36, ../../sass/style.scss */
.float-wrapper {
  padding: .3em;
}
/* line 38, ../../sass/style.scss */
.float-wrapper button {
  --size: 50px;
  display: block;
  border: 0;
  width: var(--size);
  height: var(--size);
  font-size: 1.4em;
  background-color: #12172d;
  color: white;
  border-radius: 50%;
}

/* line 51, ../../sass/style.scss */
#login {
  background-image: url(../assets/background.jpg);
}
/* line 53, ../../sass/style.scss */
#login .mask {
  padding: .4em 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiMxMjE3MmQiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzEyMTcyZCIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC45NCIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(135deg, #12172d 30%, rgba(18, 23, 45, 0.98) 50%, rgba(255, 255, 255, 0.94) 50%, #ffffff 80%);
  background-image: -webkit-linear-gradient(135deg, #12172d 30%, rgba(18, 23, 45, 0.98) 50%, rgba(255, 255, 255, 0.94) 50%, #ffffff 80%);
  background-image: linear-gradient(-45deg, #12172d 30%, rgba(18, 23, 45, 0.98) 50%, rgba(255, 255, 255, 0.94) 50%, #ffffff 80%);
}
/* line 57, ../../sass/style.scss */
#login .box {
  background-color: white;
  padding: 1em;
  padding-bottom: 2em;
  -moz-box-shadow: 0 0 0.6em 0 #12172d;
  -webkit-box-shadow: 0 0 0.6em 0 #12172d;
  box-shadow: 0 0 0.6em 0 #12172d;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}
/* line 63, ../../sass/style.scss */
#login .box .banner {
  padding: .8em .4em 0 .4em;
}
/* line 65, ../../sass/style.scss */
#login .box .banner h1 {
  padding: 0 .4em;
}
/* line 69, ../../sass/style.scss */
#login .box h2 {
  padding: .4em 0;
  margin-bottom: .4em;
  font-family: Lexend;
  letter-spacing: .4em;
}
/* line 76, ../../sass/style.scss */
#login .logo {
  height: 3.5em;
  background-image: url(../assets/white-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 83, ../../sass/style.scss */
#login .wrapper {
  padding: .5em 0;
}
/* line 85, ../../sass/style.scss */
#login .wrapper .field {
  height: 50px;
}
/* line 89, ../../sass/style.scss */
#login button {
  margin-top: .4em;
  background-color: #12172d;
  color: white;
}
/* line 94, ../../sass/style.scss */
#login .footer {
  padding: .5em 2em .5em .5em;
  font-family: Poppins, serif;
  color: white;
}

/* line 102, ../../sass/style.scss */
#main-panel {
  background-color: #eee;
}
/* line 105, ../../sass/style.scss */
#main-panel .sidemenu {
  padding: 3em .4em;
  transition-duration: .3s;
  transition-property: width;
  width: 0%;
}
/* line 110, ../../sass/style.scss */
#main-panel .sidemenu .user-zone {
  height: 70px;
}
/* line 113, ../../sass/style.scss */
#main-panel .sidemenu .avatar {
  background-color: #12172d;
  color: white;
  font-family: Poppins;
  font-size: .9em;
}
/* line 119, ../../sass/style.scss */
#main-panel .sidemenu .toggler {
  font-size: 1.4em;
  padding: .4em 0;
}
/* line 123, ../../sass/style.scss */
#main-panel .sidemenu button icon {
  color: #12172d;
}
/* line 126, ../../sass/style.scss */
#main-panel .sidemenu .link {
  --height: 55px;
  padding: .4em;
  height: var(--height);
  color: #12172d;
  margin: .2em 0;
  border-radius: 2em;
  text-decoration: none;
}
/* line 134, ../../sass/style.scss */
#main-panel .sidemenu .link icon {
  width: 40px;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.4em;
}
/* line 142, ../../sass/style.scss */
#main-panel .sidemenu .link .text {
  display: none;
  padding: .4em;
  padding-left: 1em;
  font-family: Poppins;
}
/* line 149, ../../sass/style.scss */
#main-panel .sidemenu .link.active icon {
  background-color: #12172d;
  color: white;
  box-shadow: 0 1px 3px 0 #333;
}
/* line 154, ../../sass/style.scss */
#main-panel .sidemenu .link.active .text {
  font-family: Poppins-Bold;
}
/* line 160, ../../sass/style.scss */
#main-panel .view-wrapper {
  width: calc(100% - 0%);
  overflow: hidden;
  transition-duration: .3s;
  transition-property: width;
  border-radius: .4em 0 0 .4em;
  background-color: white;
}
/* line 170, ../../sass/style.scss */
#main-panel.expanded .sidemenu {
  width: 300px;
}
/* line 172, ../../sass/style.scss */
#main-panel.expanded .sidemenu .link {
  justify-content: left;
}
/* line 174, ../../sass/style.scss */
#main-panel.expanded .sidemenu .link .text {
  display: inline-block;
}
/* line 178, ../../sass/style.scss */
#main-panel.expanded .sidemenu .user-zone {
  justify-content: left;
  padding-left: 1em;
}
/* line 182, ../../sass/style.scss */
#main-panel.expanded .sidemenu .toggler {
  text-align: left;
  padding: 0;
}
/* line 187, ../../sass/style.scss */
#main-panel.expanded .view-wrapper {
  width: calc(100% - 300px);
  box-shadow: -1px 0 3px 0 #777;
}
/* line 192, ../../sass/style.scss */
#main-panel .view-app-bar {
  height: 55px;
  background-color: white;
}
/* line 196, ../../sass/style.scss */
#main-panel .view-app-bar .title {
  font-family: Poppins-Bold;
  color: #12172d;
  font-size: 1.3em;
  padding: 0 .3em;
}
/* line 202, ../../sass/style.scss */
#main-panel .view-app-bar .back-to-prev {
  font-size: 1.2em;
}
/* line 206, ../../sass/style.scss */
#main-panel .view-app-bar .avatar {
  font-size: .9em;
}
/* line 209, ../../sass/style.scss */
#main-panel .view-app-bar .appbar-icons {
  padding: 0 .3em;
}
/* line 216, ../../sass/style.scss */
#main-panel .view-body {
  height: calc(100%);
  padding: 0.3em 0.3em 55px 0.3em;
}
/* line 220, ../../sass/style.scss */
#main-panel .view-bottom-bar {
  background-color: white;
}
/* line 224, ../../sass/style.scss */
#main-panel .view-bottom-bar .link {
  padding: 0 .1em;
  text-decoration: none;
  color: #777;
}
/* line 228, ../../sass/style.scss */
#main-panel .view-bottom-bar .link icon {
  --size: 52px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  font-size: 1.5em;
  position: relative;
  top: -10px;
  margin-bottom: -15px;
  border-radius: 50%;
}
/* line 240, ../../sass/style.scss */
#main-panel .view-bottom-bar .link .text, #main-panel .view-bottom-bar .link span.MuiBottomNavigationAction-label {
  font-family: Lexend-Medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: .7em;
}
/* line 247, ../../sass/style.scss */
#main-panel .view-bottom-bar .link.active, #main-panel .view-bottom-bar .link.Mui-selected {
  color: #12172d;
}
/* line 249, ../../sass/style.scss */
#main-panel .view-bottom-bar .link.active icon, #main-panel .view-bottom-bar .link.Mui-selected icon {
  background-color: #12172d;
  color: white;
  box-shadow: 0 -4px 4px 4px white;
}
/* line 256, ../../sass/style.scss */
#main-panel .view-bottom-bar .link.active .text, #main-panel .view-bottom-bar .link.active span.MuiBottomNavigationAction-label, #main-panel .view-bottom-bar .link.Mui-selected .text, #main-panel .view-bottom-bar .link.Mui-selected span.MuiBottomNavigationAction-label {
  color: red;
  display: none !important;
}

/* line 265, ../../sass/style.scss */
.presentation {
  padding: .4em;
}
/* line 267, ../../sass/style.scss */
.presentation .grid-filter {
  padding: 0 .4em;
}
/* line 269, ../../sass/style.scss */
.presentation .grid-filter .field-group {
  padding: 0 .5em;
}
/* line 271, ../../sass/style.scss */
.presentation .grid-filter .field-group label {
  padding: .4em;
  font-family: Lexend-Medium;
  font-size: .8em;
}
/* line 276, ../../sass/style.scss */
.presentation .grid-filter .field-group .field {
  padding: 0 .3em;
}
/* line 281, ../../sass/style.scss */
.presentation .grid {
  padding: .5em;
  border-radius: .8em;
}

/* line 289, ../../sass/style.scss */
.editor .head {
  padding: .4em;
}
/* line 291, ../../sass/style.scss */
.editor .head .title {
  font-family: Lexend-Medium;
  font-size: 1.2em;
  padding: 0 .4em;
}
/* line 295, ../../sass/style.scss */
.editor .head .title.empty {
  color: #777;
}
/* line 299, ../../sass/style.scss */
.editor .head .actions {
  padding: 0 .4em;
}
/* line 301, ../../sass/style.scss */
.editor .head .actions button {
  margin-right: .3em;
}
/* line 307, ../../sass/style.scss */
.editor .ck.ck-editor {
  width: 100%;
  max-height: 95%;
  border: 1px solid #ccc;
  border-radius: .4em;
  overflow: hidden;
}
/* line 314, ../../sass/style.scss */
.editor .ck.ck-toolbar {
  border: 0;
}
/* line 317, ../../sass/style.scss */
.editor .ck.ck-editor__main {
  height: 90%;
  max-height: 90%;
  overflow: hidden;
  overflow-y: auto;
}
/* line 323, ../../sass/style.scss */
.editor .ck.ck-content {
  min-height: 100%;
  border: 0 !important;
  box-shadow: unset !important;
}

/* line 332, ../../sass/style.scss */
.empty-temp {
  padding: .4em;
  color: #777;
}
/* line 335, ../../sass/style.scss */
.empty-temp icon {
  font-size: 2.5em;
  padding: 1em;
}
/* line 339, ../../sass/style.scss */
.empty-temp .text {
  font-family: Roboto;
  font-size: 1.2em;
}

/* line 345, ../../sass/style.scss */
.category-editor {
  padding: 0 .4em;
}
/* line 347, ../../sass/style.scss */
.category-editor .head {
  padding: .4em 0;
  font-family: Poppins;
  color: #555;
}

/* line 354, ../../sass/style.scss */
.article-list {
  padding: .4em;
}
/* line 356, ../../sass/style.scss */
.article-list .article-preview {
  padding: .4em;
  text-decoration: none;
  color: black;
  font-family: Roboto;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
/* line 363, ../../sass/style.scss */
.article-list .article-preview .caption {
  height: 20vmin;
  background-color: #eee;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 371, ../../sass/style.scss */
.article-list .article-preview .metadata {
  padding: 0 0 0 .5em;
}
/* line 373, ../../sass/style.scss */
.article-list .article-preview .metadata .title {
  font-family: Lexend-Medium;
  font-size: 1.2em;
}
/* line 377, ../../sass/style.scss */
.article-list .article-preview .metadata .grid {
  padding: .2em;
}
/* line 379, ../../sass/style.scss */
.article-list .article-preview .metadata .grid .item {
  padding: 0 .5em;
}
/* line 381, ../../sass/style.scss */
.article-list .article-preview .metadata .grid .item icon {
  font-size: 1.2em;
}
/* line 384, ../../sass/style.scss */
.article-list .article-preview .metadata .grid .item .label {
  padding: .2em;
  font-family: Poppins;
}
/* line 390, ../../sass/style.scss */
.article-list .article-preview .metadata .else {
  padding: .3em 0;
}
/* line 392, ../../sass/style.scss */
.article-list .article-preview .metadata .else label {
  font-size: .9em;
  font-family: Roboto-Light;
}
/* line 396, ../../sass/style.scss */
.article-list .article-preview .metadata .else span {
  padding-left: .4em;
}
/* line 402, ../../sass/style.scss */
.article-list .draft-item {
  padding: .5em;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: black;
  position: relative;
}
/* line 408, ../../sass/style.scss */
.article-list .draft-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  display: block;
  width: 3px;
  border-radius: .5em;
  background-color: #cb8;
}
/* line 419, ../../sass/style.scss */
.article-list .draft-item .title {
  font-family: Lexend-Medium;
  font-size: 1.2em;
  padding: .4em 0;
}
/* line 424, ../../sass/style.scss */
.article-list .draft-item .category {
  font-size: 1em;
  padding: .2em 0;
}
/* line 428, ../../sass/style.scss */
.article-list .draft-item .date {
  padding: .2em 0;
  font-size: .8em;
}
/* line 433, ../../sass/style.scss */
.article-list .draft-item .actions button {
  margin: 0 .2em;
  text-transform: capitalize;
}

/* line 441, ../../sass/style.scss */
.studio {
  padding: .4em;
  padding-bottom: 60px;
}
/* line 444, ../../sass/style.scss */
.studio .header {
  padding: .4em;
}
/* line 446, ../../sass/style.scss */
.studio .header label {
  font-family: Poppins-SemiBold;
  font-size: 1.4em;
  padding: 0 .4em;
}
/* line 451, ../../sass/style.scss */
.studio .header .actions {
  padding: 0 .4em;
}
/* line 455, ../../sass/style.scss */
.studio .wrapper {
  padding: .4em .2em;
}
/* line 458, ../../sass/style.scss */
.studio .render {
  padding: .3em;
  overflow-x: hidden;
  background-color: #efefef;
}
/* line 462, ../../sass/style.scss */
.studio .render canvas {
  background-color: #fff;
}
/* line 465, ../../sass/style.scss */
.studio .render .image-preview {
  width: 50px;
  height: 50px;
  background-color: #eee;
  color: #777;
  border: 1px solid #ccc;
  border-radius: .5em;
  margin-right: .5em;
}
/* line 474, ../../sass/style.scss */
.studio .render button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  margin: 0 .2em;
}
/* line 482, ../../sass/style.scss */
.studio .data {
  padding: .4em;
}
/* line 485, ../../sass/style.scss */
.studio .mask {
  background-color: rgba(230, 230, 230, 0.5);
  backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* line 492, ../../sass/style.scss */
.studio-config .wrapper {
  padding: .4em .2em;
}

/* line 498, ../../sass/style.scss */
.studio-grid .punchline {
  padding: .3em;
}
/* line 500, ../../sass/style.scss */
.studio-grid .punchline img {
  height: 25vmin;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: .4em;
}

/* line 510, ../../sass/style.scss */
.upload-info .wrapping {
  padding: .2em;
}
/* line 512, ../../sass/style.scss */
.upload-info .wrapping .wrapping {
  padding: .2em .4em;
}
/* line 516, ../../sass/style.scss */
.upload-info .process-text {
  font-size: .8em;
}

/* line 522, ../../sass/style.scss */
.messages .header {
  padding: .4em;
}
/* line 524, ../../sass/style.scss */
.messages .header .sort-chip {
  margin: 0 .2em;
}
/* line 526, ../../sass/style.scss */
.messages .header .sort-chip.icon icon {
  font-size: 1.6em;
  position: relative;
  left: 6px;
}
/* line 533, ../../sass/style.scss */
.messages .message-row {
  padding: .4em;
  padding-left: .8em;
  text-decoration: none;
  color: #000;
  border-radius: .5em;
  position: relative;
}
/* line 540, ../../sass/style.scss */
.messages .message-row.unread:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 60%;
  background-color: #12172d;
  left: .1em;
  top: 20%;
  border-radius: .8em;
}
/* line 550, ../../sass/style.scss */
.messages .message-row .avatar {
  border-radius: .7em;
  background-color: #12172d;
}
/* line 554, ../../sass/style.scss */
.messages .message-row .data {
  padding: .2em 0 .2em .5em;
}
/* line 556, ../../sass/style.scss */
.messages .message-row .data .name {
  padding: .2em 0;
  font-family: Poppins-SemiBold;
  font-size: 1.1em;
}
/* line 561, ../../sass/style.scss */
.messages .message-row .data .date {
  font-family: Roboto-Light;
  font-size: .8em;
}
/* line 565, ../../sass/style.scss */
.messages .message-row .data .message {
  padding: .2em .2em 1em .2em;
  font-size: .9em;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 574, ../../sass/style.scss */
.messages .message-row:hover {
  background-color: #eee;
}

/* line 581, ../../sass/style.scss */
.MuiFab-root {
  background-color: #12172d !important;
}
/* line 583, ../../sass/style.scss */
.MuiFab-root icon {
  color: white;
}

/* line 588, ../../sass/style.scss */
.css-sghohy-MuiButtonBase-root-MuiButton-root, .css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-focused {
  background-color: #12172d;
  color: white;
}

@media (min-width: 768px) {
  /* line 597, ../../sass/style.scss */
  #main-panel .sidemenu {
    width: 80px;
  }
  /* line 600, ../../sass/style.scss */
  #main-panel .view-wrapper {
    width: calc(100% - 80px);
  }

  /* line 604, ../../sass/style.scss */
  .studio {
    padding-bottom: .4em;
  }
}
