/* line 1, ../../sass/_var.scss */
:root {
  --theme: white;
  --theme-2: white;
  --theme-color: black;
  --theme-global: var(--theme);
  --font-family0: Poppins;
  --font-family1: Poppins-Bold;
  --header-height: 60px;
}

/* line 7, ../../sass/style.scss */
#login {
  background-image: url(../assets/background.jpg);
}
/* line 9, ../../sass/style.scss */
#login .mask {
  padding: .4em 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiMxMjE3MmQiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzEyMTcyZCIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC45NCIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(135deg, #12172d 30%, rgba(18, 23, 45, 0.98) 50%, rgba(255, 255, 255, 0.94) 50%, #ffffff 80%);
  background-image: -webkit-linear-gradient(135deg, #12172d 30%, rgba(18, 23, 45, 0.98) 50%, rgba(255, 255, 255, 0.94) 50%, #ffffff 80%);
  background-image: linear-gradient(-45deg, #12172d 30%, rgba(18, 23, 45, 0.98) 50%, rgba(255, 255, 255, 0.94) 50%, #ffffff 80%);
}
/* line 13, ../../sass/style.scss */
#login .box {
  background-color: white;
  padding: 1em;
  padding-bottom: 2em;
  -moz-box-shadow: 0 0 0.6em 0 #12172d;
  -webkit-box-shadow: 0 0 0.6em 0 #12172d;
  box-shadow: 0 0 0.6em 0 #12172d;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}
/* line 19, ../../sass/style.scss */
#login .box .banner {
  padding: .8em .4em 0 .4em;
}
/* line 21, ../../sass/style.scss */
#login .box .banner h1 {
  padding: 0 .4em;
}
/* line 25, ../../sass/style.scss */
#login .box h2 {
  padding: .4em 0;
  margin-bottom: .4em;
  font-family: Lexend;
  letter-spacing: .4em;
}
/* line 32, ../../sass/style.scss */
#login .logo {
  height: 3.5em;
  background-image: url(../assets/white-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 39, ../../sass/style.scss */
#login .wrapper {
  padding: .5em 0;
}
/* line 41, ../../sass/style.scss */
#login .wrapper .field {
  height: 50px;
}
/* line 45, ../../sass/style.scss */
#login button {
  margin-top: .4em;
  background-color: #12172d;
  color: white;
}
/* line 50, ../../sass/style.scss */
#login .footer {
  padding: .5em 2em .5em .5em;
  font-family: Poppins, serif;
  color: white;
}
