/* line 1, ../../sass/_var.scss */
:root {
  --theme: white;
  --theme-2: white;
  --theme-color: black;
  --theme-global: var(--theme);
  --font-family0: Poppins;
  --font-family1: Poppins-Bold;
  --header-height: 60px;
}

/* line 5, ../../sass/web.scss */
body {
  overflow-x: hidden;
}

/* line 8, ../../sass/web.scss */
.header {
  font-family: var(--font-family1);
  height: var(--header-height);
  background-color: var(--theme);
  color: var(--theme-color);
  position: sticky;
  top: 0;
  z-index: 3;
}
/* line 16, ../../sass/web.scss */
.header.shadow {
  box-shadow: 0 0 0.4em 0 var(--theme-color);
}
/* line 19, ../../sass/web.scss */
.header icon {
  font-size: 1.8em;
  cursor: pointer;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: 50%;
}
/* line 27, ../../sass/web.scss */
.header icon:hover {
  background-color: #eee;
}
/* line 31, ../../sass/web.scss */
.header .icon-zone {
  padding: 0 .3em;
}
/* line 33, ../../sass/web.scss */
.header .icon-zone icon {
  font-size: 1.6em;
  margin: 0 .1em;
  width: 43px;
  height: 43px;
}
/* line 40, ../../sass/web.scss */
.header .nav-title {
  font-family: Poppins-Bold;
  padding: 0 .3em;
  font-size: 1.4em;
}
/* line 45, ../../sass/web.scss */
.header .navbar-logo {
  background-image: url(../assets/white-logo.jpg);
  height: 43px;
  width: 43px;
  background-size: contain;
}
/* line 51, ../../sass/web.scss */
.header li {
  --font-family-li: Lexend-Medium;
  --font-family-li-active: Lexend-Bold;
  --theme: var(--theme-color);
  font-size: 1em;
  position: relative;
}
/* line 57, ../../sass/web.scss */
.header li.active {
  position: relative;
}
/* line 59, ../../sass/web.scss */
.header li.active:after {
  content: " ";
  position: absolute;
  display: block;
  width: 20%;
  height: 3px;
  border-radius: .4em;
  background-color: var(--theme-color);
}

/* line 73, ../../sass/web.scss */
.skeleton {
  background-color: #ccc;
  -moz-animation: fade-inout 2s infinite linear;
  -webkit-animation: fade-inout 2s infinite linear;
  animation: fade-inout 2s infinite linear;
}

/* line 77, ../../sass/web.scss */
view {
  padding: 0 .8em;
}

/* line 80, ../../sass/web.scss */
button {
  border-radius: .2em;
  min-height: 50px;
  box-shadow: unset !important;
}
/* line 84, ../../sass/web.scss */
button.primary-theme {
  background-color: var(--theme-color);
  color: var(--theme);
  padding: .4em;
  border: 1px solid var(--theme-color);
}
/* line 89, ../../sass/web.scss */
button.primary-theme:hover {
  background-color: #12172d !important;
  border: 1px solid #12172d;
  cursor: pointer;
}

/* line 96, ../../sass/web.scss */
.caroussel {
  height: 70vh;
}
/* line 100, ../../sass/web.scss */
.caroussel .slide .ui-image {
  filter: drop-shadow(0 0 12px var(--theme-color));
}
/* line 104, ../../sass/web.scss */
.caroussel .slide.skeleton h1 {
  content: " ";
  background-color: #eeee;
  width: 30%;
}
/* line 109, ../../sass/web.scss */
.caroussel .slide.skeleton p {
  content: "";
  background-color: #eee;
  width: 100%;
  height: 4em;
  margin: .3em 0;
}
/* line 116, ../../sass/web.scss */
.caroussel .slide.skeleton button {
  content: " Bien ";
  background-color: #eee !important;
  color: #eee;
}

/* line 127, ../../sass/web.scss */
.article-thumb-space {
  background-color: rgba(250, 250, 250, 0.95);
}
/* line 129, ../../sass/web.scss */
.article-thumb-space .article-container {
  background-color: var(--theme);
}

/* line 133, ../../sass/web.scss */
.puncline-container {
  padding: 0 .4em;
}
/* line 135, ../../sass/web.scss */
.puncline-container h1 {
  padding: .4em 0;
  background-color: white;
}
/* line 139, ../../sass/web.scss */
.puncline-container .punchline {
  background-size: contain;
  height: 300px;
  background-color: white;
  margin-bottom: .4em;
}

/* line 146, ../../sass/web.scss */
.trending {
  padding: .3em;
}
/* line 148, ../../sass/web.scss */
.trending .article-thumb {
  height: 40vmin;
  padding: .4em;
}
/* line 151, ../../sass/web.scss */
.trending .article-thumb .image {
  border-radius: .8em;
}
/* line 154, ../../sass/web.scss */
.trending .article-thumb .metadata {
  padding: .3em;
}
/* line 156, ../../sass/web.scss */
.trending .article-thumb .metadata .title {
  padding: .3em 0;
  font-family: Merriweather-Black;
  font-size: 1.2em;
}
/* line 161, ../../sass/web.scss */
.trending .article-thumb .metadata .subtitle {
  font-family: Merriweather-Light;
  font-size: .8em;
  line-height: 1.3em;
  overflow: hidden;
}
/* line 167, ../../sass/web.scss */
.trending .article-thumb .metadata .date {
  padding: .4em;
  font-family: Roboto-Light;
}
/* line 172, ../../sass/web.scss */
.trending .article-thumb.skeleton {
  background-color: #fff;
  -moz-animation: fade-inout 2s infinite linear;
  -webkit-animation: fade-inout 2s infinite linear;
  animation: fade-inout 2s infinite linear;
}
/* line 175, ../../sass/web.scss */
.trending .article-thumb.skeleton .image {
  background-color: #eee;
}
/* line 179, ../../sass/web.scss */
.trending .article-thumb.skeleton .metadata .title {
  background-color: #eee;
  height: 1em;
  width: 50%;
}
/* line 184, ../../sass/web.scss */
.trending .article-thumb.skeleton .metadata .subtitle {
  background-color: #eee;
  height: 10em;
  margin: .2em 0;
}
/* line 189, ../../sass/web.scss */
.trending .article-thumb.skeleton .metadata .date {
  height: .5em;
  background-color: #eee;
  width: 10%;
}

/* line 198, ../../sass/web.scss */
.bottom-gradient {
  --background: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #12172d 90%);
}
/* line 205, ../../sass/web.scss */
.bottom-gradient .about-us .logo {
  background-image: url(../assets/black-logo.png);
  height: 200%;
  left: 0;
}
/* line 211, ../../sass/web.scss */
.bottom-gradient .about-us .symbol {
  padding: .4em;
  left: 0;
}
/* line 215, ../../sass/web.scss */
.bottom-gradient .about-us .symbol .image {
  background-size: contain;
}
/* line 225, ../../sass/web.scss */
.bottom-gradient .about-us .ads {
  padding: .2em;
}
/* line 228, ../../sass/web.scss */
.bottom-gradient .about-us .ads h1 {
  padding: .3em;
}
/* line 232, ../../sass/web.scss */
.bottom-gradient .about-us .ads p {
  padding: .4em 1em;
  font-family: OpenSans-Light;
  line-height: 1.2em;
  text-align: justify;
}
/* line 239, ../../sass/web.scss */
.bottom-gradient .about-us .ads .ui-action {
  padding: .6em .8em;
}
/* line 242, ../../sass/web.scss */
.bottom-gradient .about-us .ads .ui-action button {
  padding: .8em;
  box-shadow: unset;
  background-color: var(--theme-color);
  color: var(--theme);
}
/* line 251, ../../sass/web.scss */
.bottom-gradient .newsletter {
  padding: .5em 1em;
}
/* line 253, ../../sass/web.scss */
.bottom-gradient .newsletter h2 {
  font-family: Merriweather-Bold;
  font-size: 1.6em;
  color: white;
  padding: .8em 0;
}
/* line 259, ../../sass/web.scss */
.bottom-gradient .newsletter .field {
  background-color: #fff;
  overflow: hidden;
  border-radius: .2em;
  height: 50px;
}
/* line 264, ../../sass/web.scss */
.bottom-gradient .newsletter .field input, .bottom-gradient .newsletter .field button {
  height: inherit;
  border: 0;
  padding: 0 .4em;
  outline: none;
  border-radius: 0;
}
/* line 271, ../../sass/web.scss */
.bottom-gradient .newsletter .field button {
  background-color: var(--theme-color);
  color: var(--theme);
  font-size: 1.6em;
}
/* line 278, ../../sass/web.scss */
.bottom-gradient footer {
  padding-top: 3em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #12172d);
}

/* line 284, ../../sass/web.scss */
menu {
  z-index: 6;
  transform: translate3d(-100%, 0, 0);
  transition-duration: .3s;
  transition-property: transform;
}
/* line 290, ../../sass/web.scss */
menu.open {
  transform: translate3d(0, 0, 0);
}
/* line 293, ../../sass/web.scss */
menu .drawer-img {
  background-image: url(../assets/rapper-hip.png);
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  filter: sepia(5%);
}
/* line 301, ../../sass/web.scss */
menu .drawer {
  box-shadow: 0 0 2px 0 #444;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -40%, #ffffff 90%);
}
/* line 306, ../../sass/web.scss */
menu .drawer .panel icon {
  font-size: 2em;
  padding: .4em;
  background-color: rgba(240, 240, 240, 0.2);
  border-radius: .4em;
  margin: .2em;
}
/* line 313, ../../sass/web.scss */
menu .drawer .panel .name {
  font-family: Poppins-Bold;
  font-size: 1.4em;
  padding: 0 .5em;
}
/* line 319, ../../sass/web.scss */
menu .drawer li {
  padding: .8em 2em;
  font-size: 1.3em;
}
/* line 322, ../../sass/web.scss */
menu .drawer li a {
  color: #333;
  text-decoration: none;
  font-family: Poppins-Light;
}
/* line 327, ../../sass/web.scss */
menu .drawer li.active a {
  font-family: Poppins-Bold;
}

/* line 333, ../../sass/web.scss */
.search-panel {
  background-color: #fff;
  z-index: 4;
  box-shadow: -2px 0 4px 0 #777;
  transition-duration: .3s;
  transition-property: transform;
  -moz-transform: translate3d(105%, 0, 0);
  -ms-transform: translate3d(105%, 0, 0);
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
/* line 340, ../../sass/web.scss */
.search-panel.open {
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* line 343, ../../sass/web.scss */
.search-panel .head {
  height: 60px;
  background-color: #eee;
}
/* line 346, ../../sass/web.scss */
.search-panel .head icon {
  padding: .2em;
  border-radius: .4em;
  margin-right: .3em;
  font-size: 2em;
}
/* line 353, ../../sass/web.scss */
.search-panel .head .field {
  padding: .4em;
  border-radius: .4em;
  font-family: OpenSans;
  background-color: unset;
}

/* line 361, ../../sass/web.scss */
footer {
  padding: .4em;
  color: var(--theme);
  background-color: #12172d;
}
/* line 365, ../../sass/web.scss */
footer.home {
  background-color: unset;
}
/* line 368, ../../sass/web.scss */
footer .links-box {
  padding: .3em;
}
/* line 370, ../../sass/web.scss */
footer .links-box li {
  padding: .2em 0;
}
/* line 373, ../../sass/web.scss */
footer .links-box a {
  color: white;
  font-family: OpenSans-Light;
  text-decoration: none;
}
/* line 379, ../../sass/web.scss */
footer .social-box {
  padding: .5em;
  gap: .8em;
}
/* line 382, ../../sass/web.scss */
footer .social-box a {
  width: 43px;
  height: 43px;
  background-color: #eee;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.3em;
  color: #090b13;
}
/* line 392, ../../sass/web.scss */
footer .copyright {
  font-family: Poppins-Light;
  font-size: .9em;
  padding: .6em 0;
}
/* line 397, ../../sass/web.scss */
footer .end {
  padding-top: .8em;
}

/* line 403, ../../sass/web.scss */
.type-chooser {
  padding: .8em;
}
/* line 405, ../../sass/web.scss */
.type-chooser label {
  font-family: Lexend-Medium;
  font-size: 1em;
  padding: .4em;
}
/* line 410, ../../sass/web.scss */
.type-chooser button {
  min-height: 40px;
  margin: 0 .2em;
}

/* line 415, ../../sass/web.scss */
.article-preview {
  padding: .4em;
  margin: .3em 0;
  text-decoration: none;
  color: inherit;
}
/* line 420, ../../sass/web.scss */
.article-preview h1 {
  padding: .3em 0;
}
/* line 423, ../../sass/web.scss */
.article-preview .caption {
  height: 50vh;
  background-position: top center;
  border-radius: .4em;
}
/* line 428, ../../sass/web.scss */
.article-preview .date {
  padding: .4em;
  background-color: #12172d;
  color: white;
  margin-top: .4em;
  border-radius: .4em;
  font-family: OpenSans;
  font-size: .7em;
}
/* line 437, ../../sass/web.scss */
.article-preview .text {
  padding: .4em .1em;
}
/* line 442, ../../sass/web.scss */
.article-preview.skeleton * {
  background-color: #eee;
  margin: .1em 0;
}
/* line 446, ../../sass/web.scss */
.article-preview.skeleton h1 {
  width: 60%;
  height: 2em;
}
/* line 450, ../../sass/web.scss */
.article-preview.skeleton .date {
  height: .8em;
  width: 10%;
}
/* line 454, ../../sass/web.scss */
.article-preview.skeleton .text {
  height: 3em;
}
/* line 458, ../../sass/web.scss */
.article-preview:hover {
  background-color: #fff;
}

/* line 462, ../../sass/web.scss */
.filter-box {
  z-index: 5;
}

/* line 465, ../../sass/web.scss */
#see-more-article {
  font-family: Lexend-Bold;
}

/* line 470, ../../sass/web.scss */
.contact-us {
  padding: .5em;
  min-height: calc(100vh - var(--header-height));
}
/* line 473, ../../sass/web.scss */
.contact-us .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 477, ../../sass/web.scss */
.contact-us .image .mask {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #ffffff);
}
/* line 481, ../../sass/web.scss */
.contact-us .form {
  padding: .4em 1em;
}
/* line 483, ../../sass/web.scss */
.contact-us .form p {
  padding: .8em .4em;
  font-family: Poppins-Light;
  text-align: justify;
}
/* line 488, ../../sass/web.scss */
.contact-us .form .wrapper {
  padding: 0;
}
/* line 491, ../../sass/web.scss */
.contact-us .form .field {
  --height: 45px;
  margin: .2em 0;
  height: var(--height);
}
/* line 495, ../../sass/web.scss */
.contact-us .form .field.plain {
  height: calc(3 * var(--height));
}

/* line 503, ../../sass/web.scss */
.article-read {
  padding: .8em;
}
/* line 505, ../../sass/web.scss */
.article-read .skeleton {
  height: 2em;
  background-color: #ccc;
  margin: .4em;
}
/* line 510, ../../sass/web.scss */
.article-read h1 {
  font-family: Poppins-Bold;
  line-height: 1.5em;
}
/* line 513, ../../sass/web.scss */
.article-read h1.skeleton {
  width: 55%;
}
/* line 517, ../../sass/web.scss */
.article-read .article-text {
  padding: .8em;
  font-family: Merriweather-Light;
  font-size: 1.1em;
  line-height: 1.5em;
}
/* line 523, ../../sass/web.scss */
.article-read .article-text::selection {
  background-color: #12172d;
  color: white;
}
/* line 528, ../../sass/web.scss */
.article-read .date {
  padding: .6em 0;
  font-family: Lexend;
}
/* line 531, ../../sass/web.scss */
.article-read .date.skeleton {
  height: 1em;
  width: 50%;
}
/* line 536, ../../sass/web.scss */
.article-read .caption {
  height: 50vh;
  border-radius: .4em;
}
/* line 540, ../../sass/web.scss */
.article-read p {
  padding: .4em;
}
/* line 542, ../../sass/web.scss */
.article-read p.skeleton {
  height: .5em;
  border-radius: .5em;
}

/* line 548, ../../sass/web.scss */
.appreciation {
  padding: .4em;
}
/* line 550, ../../sass/web.scss */
.appreciation .text {
  font-family: Lexend-Medium;
  font-size: 1.4em;
  padding: .4em;
}
/* line 554, ../../sass/web.scss */
.appreciation .text.skeleton {
  background-color: #eee;
  height: 1em;
}
/* line 559, ../../sass/web.scss */
.appreciation button {
  margin: .2em;
}
/* line 561, ../../sass/web.scss */
.appreciation button icon {
  font-size: 1.4em;
  padding: 0 .4em;
}
/* line 565, ../../sass/web.scss */
.appreciation button.skeleton {
  width: 20%;
}

/* line 573, ../../sass/web.scss */
.punchlines-page h1 {
  padding: .6em .4em;
}
/* line 576, ../../sass/web.scss */
.punchlines-page .filter-zone {
  padding: .3em .5em;
  border-bottom: 1px solid #ccc;
}
/* line 578, ../../sass/web.scss */
.punchlines-page .filter-zone .wrapper {
  padding: .2em;
}
/* line 580, ../../sass/web.scss */
.punchlines-page .filter-zone .wrapper label {
  padding: .2em;
  font-family: Lexend-Medium;
}
/* line 584, ../../sass/web.scss */
.punchlines-page .filter-zone .wrapper .field {
  background-color: rgba(200, 200, 200, 0.2);
}
/* line 590, ../../sass/web.scss */
.punchlines-page .grid {
  background-color: #fafafa;
  min-height: 70vh;
  padding: .5em;
}
/* line 594, ../../sass/web.scss */
.punchlines-page .grid .wrapper {
  padding: .1em;
  height: 10em;
}
/* line 598, ../../sass/web.scss */
.punchlines-page .grid .punchline {
  height: 10em;
  background-color: white;
  border-radius: .4em;
  background-size: auto 100%;
}
/* line 603, ../../sass/web.scss */
.punchlines-page .grid .punchline.skeleton {
  background-color: #eee;
}
/* line 608, ../../sass/web.scss */
.punchlines-page .preview {
  position: fixed;
  width: 100%;
  right: 0;
  padding-top: 1em;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 -2px 4px 0 #777;
  top: calc(100%);
  background-color: var(--theme-color);
  color: var(--theme);
  bottom: 0;
  transition-duration: .2s;
  transition-property: top;
}
/* line 621, ../../sass/web.scss */
.punchlines-page .preview.flexible {
  top: 50%;
}
/* line 624, ../../sass/web.scss */
.punchlines-page .preview .head {
  height: 3.5em;
  padding: .3em;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
/* line 631, ../../sass/web.scss */
.punchlines-page .preview .head icon {
  font-size: 1.2em;
  color: white;
  padding: .5em;
}
/* line 637, ../../sass/web.scss */
.punchlines-page .preview .image {
  background-size: auto 100%;
}
/* line 640, ../../sass/web.scss */
.punchlines-page .preview .metadata {
  padding: .3em;
  font-family: Poppins;
}
/* line 643, ../../sass/web.scss */
.punchlines-page .preview .metadata .title {
  font-family: Poppins-Medium;
  padding: .4em 0;
  font-size: 1.2em;
}
/* line 648, ../../sass/web.scss */
.punchlines-page .preview .metadata .artist, .punchlines-page .preview .metadata .year {
  padding: .2em;
}
/* line 651, ../../sass/web.scss */
.punchlines-page .preview .metadata .year {
  font-size: .8em;
}
/* line 654, ../../sass/web.scss */
.punchlines-page .preview .metadata .comment {
  padding: 1em;
  background-color: rgba(240, 240, 240, 0.1);
  font-family: Poppins-Light;
  margin: .4em 0;
  font-size: .9em;
}
/* line 662, ../../sass/web.scss */
.punchlines-page .preview .actions {
  padding: .4em;
}
/* line 665, ../../sass/web.scss */
.punchlines-page .preview .actions button icon {
  padding: 0 .6em;
}
/* line 671, ../../sass/web.scss */
.punchlines-page footer {
  color: var(--theme-color);
  background-color: unset;
}

@keyframes fade-inout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  /* line 694, ../../sass/web.scss */
  .trending .article-thumb .metadata .title {
    padding: .3em 0;
    font-size: 1.6em;
  }
  /* line 698, ../../sass/web.scss */
  .trending .article-thumb .metadata .subtitle {
    font-size: 1em;
    line-height: 1.8em;
  }
  /* line 702, ../../sass/web.scss */
  .trending .article-thumb .metadata .date {
    padding: .4em;
  }

  /* line 708, ../../sass/web.scss */
  .contact-us .image .mask {
    background-image: unset;
  }
  /* line 714, ../../sass/web.scss */
  .contact-us .form .wrapper:first-child {
    padding-right: .3em;
  }
  /* line 717, ../../sass/web.scss */
  .contact-us .form .wrapper:last-child {
    padding-left: .3em;
  }

  /* line 723, ../../sass/web.scss */
  .punchlines-page {
    --preview-width: 45%;
  }
  /* line 725, ../../sass/web.scss */
  .punchlines-page .grid {
    transition-duration: .2s;
    transition-property: width;
  }
  /* line 728, ../../sass/web.scss */
  .punchlines-page .grid .punchline {
    transition-duration: .2s;
    transition-property: height;
  }
  /* line 732, ../../sass/web.scss */
  .punchlines-page .grid.flexible {
    width: calc(100% - var(--preview-width));
  }
  /* line 734, ../../sass/web.scss */
  .punchlines-page .grid.flexible .punchline {
    height: 7em;
  }
  /* line 737, ../../sass/web.scss */
  .punchlines-page .grid.flexible .wrapper {
    height: 7em;
  }
  /* line 742, ../../sass/web.scss */
  .punchlines-page .preview {
    position: fixed;
    width: 0;
    right: 0;
    top: 100px;
    bottom: 40px;
    border-radius: 0;
    transition-property: width,opacity;
    opacity: 0;
  }
  /* line 751, ../../sass/web.scss */
  .punchlines-page .preview.flexible {
    opacity: 1;
    top: 70px;
    width: var(--preview-width);
  }
}
