/* line 1, ../../sass/_var.scss */
:root {
  --theme: white;
  --theme-2: white;
  --theme-color: black;
  --theme-global: var(--theme);
  --font-family0: Poppins;
  --font-family1: Poppins-Bold;
  --header-height: 60px;
}

/* line 45, ../../sass/_var.scss */
.article-reader h1, .article-reader h2 {
  font-family: Poppins-SemiBold;
  font-weight: normal;
}
/* line 49, ../../sass/_var.scss */
.article-reader h1 {
  font-size: 2.4em;
}
/* line 52, ../../sass/_var.scss */
.article-reader h2 {
  font-size: 2em;
}
/* line 55, ../../sass/_var.scss */
.article-reader h3 {
  font-size: 1em;
}
/* line 58, ../../sass/_var.scss */
.article-reader h4 {
  font-size: .9em;
}
/* line 59, ../../sass/_var.scss */
.article-reader p {
  font-family: Merriweather-Light;
}
/* line 62, ../../sass/_var.scss */
.article-reader span.image-inline.ck-widget {
  width: 50%;
  float: left;
  margin: .3em .3em .3em 0;
}
/* line 67, ../../sass/_var.scss */
.article-reader figure {
  width: 100%;
}
/* line 69, ../../sass/_var.scss */
.article-reader figure.ck-widget-image-style-side {
  width: 50%;
}
/* line 72, ../../sass/_var.scss */
.article-reader figure img {
  width: 100%;
}
/* line 75, ../../sass/_var.scss */
.article-reader figure figcaption {
  width: 100%;
  caption-side: bottom;
  display: block;
  font-size: .75em;
  outline-offset: -1px;
  padding: 0.6em;
  word-break: break-word;
}
/* line 85, ../../sass/_var.scss */
.article-reader blockquote {
  border-left: 5px solid #12172d;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* line 4, ../../sass/web.scss */
body {
  overflow-x: hidden;
}

/* line 7, ../../sass/web.scss */
.header {
  font-family: var(--font-family1);
  height: var(--header-height);
  background-color: var(--theme);
  color: var(--theme-color);
  position: sticky;
  top: 0;
  z-index: 3;
}
/* line 15, ../../sass/web.scss */
.header.shadow {
  box-shadow: 0 0 0.4em 0 var(--theme-color);
}
/* line 18, ../../sass/web.scss */
.header icon {
  font-size: 1.8em;
  cursor: pointer;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: 50%;
}
/* line 26, ../../sass/web.scss */
.header icon:hover {
  background-color: #eee;
}
/* line 30, ../../sass/web.scss */
.header .icon-zone {
  padding: 0 .3em;
}
/* line 32, ../../sass/web.scss */
.header .icon-zone icon {
  font-size: 1.6em;
  margin: 0 .1em;
  width: 43px;
  height: 43px;
}
/* line 39, ../../sass/web.scss */
.header .nav-title {
  font-family: Poppins-Bold;
  padding: 0 .3em;
  font-size: 1.4em;
}
/* line 44, ../../sass/web.scss */
.header .navbar-logo {
  background-image: url(../assets/white-logo.jpg);
  height: 43px;
  width: 43px;
  background-size: contain;
}
/* line 50, ../../sass/web.scss */
.header li {
  --font-family-li: Lexend-Medium;
  --font-family-li-active: Lexend-Bold;
  --theme: var(--theme-color);
  font-size: 1em;
  position: relative;
}
/* line 56, ../../sass/web.scss */
.header li.active {
  position: relative;
}
/* line 58, ../../sass/web.scss */
.header li.active:after {
  content: " ";
  position: absolute;
  display: block;
  width: 20%;
  height: 3px;
  border-radius: .4em;
  background-color: var(--theme-color);
}

/* line 72, ../../sass/web.scss */
.skeleton {
  background-color: #ccc;
  -moz-animation: fade-inout 2s infinite linear;
  -webkit-animation: fade-inout 2s infinite linear;
  animation: fade-inout 2s infinite linear;
}

/* line 76, ../../sass/web.scss */
view {
  padding: 0 .8em;
}

/* line 79, ../../sass/web.scss */
button {
  border-radius: .2em;
  min-height: 50px;
  box-shadow: unset !important;
}
/* line 83, ../../sass/web.scss */
button.primary-theme {
  background-color: var(--theme-color);
  color: var(--theme);
  padding: .4em;
  border: 1px solid var(--theme-color);
}
/* line 88, ../../sass/web.scss */
button.primary-theme:hover {
  background-color: #12172d !important;
  border: 1px solid #12172d;
  cursor: pointer;
}
/* line 93, ../../sass/web.scss */
button.primary-theme.ui-disabled {
  background-color: #ccc !important;
  color: #888 !important;
  border-color: #ccc !important;
  cursor: auto;
}

/* line 101, ../../sass/web.scss */
.caroussel {
  height: 70vh;
}
/* line 105, ../../sass/web.scss */
.caroussel .slide .ui-image {
  filter: drop-shadow(0 0 12px var(--theme-color));
}
/* line 109, ../../sass/web.scss */
.caroussel .slide.skeleton h1 {
  content: " ";
  background-color: #eeee;
  width: 30%;
}
/* line 114, ../../sass/web.scss */
.caroussel .slide.skeleton p {
  content: "";
  background-color: #eee;
  width: 100%;
  height: 4em;
  margin: .3em 0;
}
/* line 121, ../../sass/web.scss */
.caroussel .slide.skeleton button {
  content: " Bien ";
  background-color: #eee !important;
  color: #eee;
}

/* line 132, ../../sass/web.scss */
.article-thumb-space {
  background-color: rgba(250, 250, 250, 0.95);
}
/* line 134, ../../sass/web.scss */
.article-thumb-space .article-container {
  background-color: var(--theme);
}

/* line 138, ../../sass/web.scss */
.puncline-container {
  padding: 0 .4em;
}
/* line 140, ../../sass/web.scss */
.puncline-container h1 {
  padding: .4em 0;
  background-color: white;
}
/* line 144, ../../sass/web.scss */
.puncline-container .punchline {
  background-size: contain;
  height: 300px;
  background-color: white;
  margin-bottom: .4em;
}

/* line 151, ../../sass/web.scss */
.trending {
  padding: .3em;
}
/* line 153, ../../sass/web.scss */
.trending .article-thumb {
  height: 40vmin;
  padding: .4em;
}
/* line 156, ../../sass/web.scss */
.trending .article-thumb .image {
  border-radius: .8em;
}
/* line 159, ../../sass/web.scss */
.trending .article-thumb .metadata {
  padding: .3em;
}
/* line 161, ../../sass/web.scss */
.trending .article-thumb .metadata .title {
  padding: .3em 0;
  font-family: Merriweather-Black;
  font-size: 1.2em;
}
/* line 166, ../../sass/web.scss */
.trending .article-thumb .metadata .subtitle {
  font-family: Merriweather-Light;
  font-size: .8em;
  line-height: 1.3em;
  overflow: hidden;
}
/* line 172, ../../sass/web.scss */
.trending .article-thumb .metadata .date {
  padding: .4em;
  font-family: Roboto-Light;
}
/* line 177, ../../sass/web.scss */
.trending .article-thumb.skeleton {
  background-color: #fff;
  -moz-animation: fade-inout 2s infinite linear;
  -webkit-animation: fade-inout 2s infinite linear;
  animation: fade-inout 2s infinite linear;
}
/* line 180, ../../sass/web.scss */
.trending .article-thumb.skeleton .image {
  background-color: #eee;
}
/* line 184, ../../sass/web.scss */
.trending .article-thumb.skeleton .metadata .title {
  background-color: #eee;
  height: 1em;
  width: 50%;
}
/* line 189, ../../sass/web.scss */
.trending .article-thumb.skeleton .metadata .subtitle {
  background-color: #eee;
  height: 10em;
  margin: .2em 0;
}
/* line 194, ../../sass/web.scss */
.trending .article-thumb.skeleton .metadata .date {
  height: .5em;
  background-color: #eee;
  width: 10%;
}

/* line 203, ../../sass/web.scss */
.bottom-gradient {
  --background: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #12172d 90%);
}
/* line 210, ../../sass/web.scss */
.bottom-gradient .about-us .logo {
  background-image: url(../assets/black-logo.png);
  height: 200%;
  left: 0;
}
/* line 216, ../../sass/web.scss */
.bottom-gradient .about-us .symbol {
  padding: .4em;
  left: 0;
}
/* line 220, ../../sass/web.scss */
.bottom-gradient .about-us .symbol .image {
  background-size: contain;
}
/* line 230, ../../sass/web.scss */
.bottom-gradient .about-us .ads {
  padding: .2em;
}
/* line 233, ../../sass/web.scss */
.bottom-gradient .about-us .ads h1 {
  padding: .3em;
}
/* line 237, ../../sass/web.scss */
.bottom-gradient .about-us .ads p {
  padding: .4em 1em;
  font-family: OpenSans-Light;
  line-height: 1.2em;
  text-align: justify;
}
/* line 244, ../../sass/web.scss */
.bottom-gradient .about-us .ads .ui-action {
  padding: .6em .8em;
}
/* line 247, ../../sass/web.scss */
.bottom-gradient .about-us .ads .ui-action button {
  padding: .8em;
  box-shadow: unset;
  background-color: var(--theme-color);
  color: var(--theme);
}
/* line 256, ../../sass/web.scss */
.bottom-gradient .newsletter {
  padding: .5em 1em;
}
/* line 258, ../../sass/web.scss */
.bottom-gradient .newsletter h2 {
  font-family: Merriweather-Bold;
  font-size: 1.6em;
  color: white;
  padding: .8em 0;
}
/* line 264, ../../sass/web.scss */
.bottom-gradient .newsletter .field {
  background-color: #fff;
  overflow: hidden;
  border-radius: .2em;
  height: 50px;
}
/* line 269, ../../sass/web.scss */
.bottom-gradient .newsletter .field input, .bottom-gradient .newsletter .field button {
  height: inherit;
  border: 0;
  padding: 0 .4em;
  outline: none;
  border-radius: 0;
}
/* line 276, ../../sass/web.scss */
.bottom-gradient .newsletter .field button {
  background-color: var(--theme-color);
  color: var(--theme);
  font-size: 1.6em;
}
/* line 283, ../../sass/web.scss */
.bottom-gradient footer {
  padding-top: 3em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #12172d);
}

/* line 289, ../../sass/web.scss */
menu {
  z-index: 6;
  transform: translate3d(-100%, 0, 0);
  transition-duration: .3s;
  transition-property: transform;
}
/* line 295, ../../sass/web.scss */
menu.open {
  transform: translate3d(0, 0, 0);
}
/* line 298, ../../sass/web.scss */
menu .drawer-img {
  background-image: url(../assets/rapper-hip.png);
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  filter: sepia(5%);
}
/* line 306, ../../sass/web.scss */
menu .drawer {
  box-shadow: 0 0 2px 0 #444;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -40%, #ffffff 90%);
}
/* line 311, ../../sass/web.scss */
menu .drawer .panel icon {
  font-size: 2em;
  padding: .4em;
  background-color: rgba(240, 240, 240, 0.2);
  border-radius: .4em;
  margin: .2em;
}
/* line 318, ../../sass/web.scss */
menu .drawer .panel .name {
  font-family: Poppins-Bold;
  font-size: 1.4em;
  padding: 0 .5em;
}
/* line 324, ../../sass/web.scss */
menu .drawer li {
  padding: .8em 2em;
  font-size: 1.3em;
}
/* line 327, ../../sass/web.scss */
menu .drawer li a {
  color: #333;
  text-decoration: none;
  font-family: Poppins-Light;
}
/* line 332, ../../sass/web.scss */
menu .drawer li.active a {
  font-family: Poppins-Bold;
}

/* line 338, ../../sass/web.scss */
.search-panel {
  background-color: #fff;
  z-index: 4;
  box-shadow: -2px 0 4px 0 #777;
  transition-duration: .3s;
  transition-property: transform;
  -moz-transform: translate3d(105%, 0, 0);
  -ms-transform: translate3d(105%, 0, 0);
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
/* line 345, ../../sass/web.scss */
.search-panel.open {
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* line 348, ../../sass/web.scss */
.search-panel .head {
  height: 60px;
  background-color: #eee;
}
/* line 351, ../../sass/web.scss */
.search-panel .head icon {
  padding: .2em;
  border-radius: .4em;
  margin-right: .3em;
  font-size: 2em;
}
/* line 358, ../../sass/web.scss */
.search-panel .head .field {
  padding: .4em;
  border-radius: .4em;
  font-family: OpenSans;
  background-color: unset;
}

/* line 366, ../../sass/web.scss */
footer {
  padding: .4em;
  color: var(--theme);
  background-color: #12172d;
}
/* line 370, ../../sass/web.scss */
footer.home {
  background-color: unset;
}
/* line 373, ../../sass/web.scss */
footer .links-box {
  padding: .3em;
}
/* line 375, ../../sass/web.scss */
footer .links-box li {
  padding: .2em 0;
}
/* line 378, ../../sass/web.scss */
footer .links-box a {
  color: white;
  font-family: OpenSans-Light;
  text-decoration: none;
}
/* line 384, ../../sass/web.scss */
footer .social-box {
  padding: .5em;
  gap: .8em;
}
/* line 387, ../../sass/web.scss */
footer .social-box a {
  width: 43px;
  height: 43px;
  background-color: #eee;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.3em;
  color: #090b13;
}
/* line 397, ../../sass/web.scss */
footer .copyright {
  font-family: Poppins-Light;
  font-size: .9em;
  padding: .6em 0;
}
/* line 402, ../../sass/web.scss */
footer .end {
  padding-top: .8em;
}

/* line 408, ../../sass/web.scss */
.type-chooser {
  padding: .8em;
}
/* line 410, ../../sass/web.scss */
.type-chooser label {
  font-family: Lexend-Medium;
  font-size: 1em;
  padding: .4em;
}
/* line 415, ../../sass/web.scss */
.type-chooser button {
  min-height: 40px;
  margin: 0 .2em;
}

/* line 420, ../../sass/web.scss */
.article-preview {
  padding: .4em;
  margin: .3em 0;
  text-decoration: none;
  color: inherit;
}
/* line 425, ../../sass/web.scss */
.article-preview h1 {
  padding: .3em 0;
}
/* line 428, ../../sass/web.scss */
.article-preview .caption {
  height: 50vh;
  background-position: top center;
  border-radius: .4em;
}
/* line 433, ../../sass/web.scss */
.article-preview .date {
  padding: .4em;
  background-color: #12172d;
  color: white;
  margin-top: .4em;
  border-radius: .4em;
  font-family: OpenSans;
  font-size: .7em;
}
/* line 442, ../../sass/web.scss */
.article-preview .text {
  padding: .4em .1em;
}
/* line 447, ../../sass/web.scss */
.article-preview.skeleton * {
  background-color: #eee;
  margin: .1em 0;
}
/* line 451, ../../sass/web.scss */
.article-preview.skeleton h1 {
  width: 60%;
  height: 2em;
}
/* line 455, ../../sass/web.scss */
.article-preview.skeleton .date {
  height: .8em;
  width: 10%;
}
/* line 459, ../../sass/web.scss */
.article-preview.skeleton .text {
  height: 3em;
}
/* line 463, ../../sass/web.scss */
.article-preview:hover {
  background-color: #fff;
}

/* line 467, ../../sass/web.scss */
.filter-box {
  z-index: 5;
}

/* line 470, ../../sass/web.scss */
#see-more-article {
  font-family: Lexend-Bold;
}

/* line 477, ../../sass/web.scss */
.feedback {
  padding: .4em;
  background-color: #eee;
  border-left: 3px solid #ccc;
  font-family: Poppins;
  margin: .2em;
}
/* line 483, ../../sass/web.scss */
.feedback .message {
  font-style: italic;
  line-height: 1.2em;
  padding: .4em 0;
}
/* line 488, ../../sass/web.scss */
.feedback .name {
  position: relative;
  padding: .2em .2em .2em 1.5em;
  font-family: Merriweather;
}
/* line 492, ../../sass/web.scss */
.feedback .name:before {
  content: " ";
  width: 1.2em;
  height: 1px;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 50%;
}

/* line 505, ../../sass/web.scss */
.contact-us {
  padding: .5em;
  min-height: calc(100vh - var(--header-height));
}
/* line 508, ../../sass/web.scss */
.contact-us .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 512, ../../sass/web.scss */
.contact-us .image .mask {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #ffffff);
}
/* line 516, ../../sass/web.scss */
.contact-us .form {
  padding: .4em 1em;
}
/* line 518, ../../sass/web.scss */
.contact-us .form p {
  padding: .8em .4em;
  font-family: Poppins-Light;
  text-align: justify;
}
/* line 523, ../../sass/web.scss */
.contact-us .form .wrapper {
  padding: 0;
}
/* line 526, ../../sass/web.scss */
.contact-us .form .field {
  --height: 45px;
  margin: .2em 0;
  height: var(--height);
}
/* line 530, ../../sass/web.scss */
.contact-us .form .field.plain {
  height: calc(3 * var(--height));
}
/* line 535, ../../sass/web.scss */
.contact-us .loading {
  padding: .5em;
}
/* line 537, ../../sass/web.scss */
.contact-us .loading .text {
  padding: .4em;
  font-family: Poppins-Light;
}
/* line 542, ../../sass/web.scss */
.contact-us .message {
  padding: .3em;
}
/* line 544, ../../sass/web.scss */
.contact-us .message icon {
  font-size: 2em;
}
/* line 547, ../../sass/web.scss */
.contact-us .message .text {
  padding: .4em .5em;
  font-family: Poppins-Light;
}

/* line 555, ../../sass/web.scss */
.article-read {
  padding: .8em;
}
/* line 557, ../../sass/web.scss */
.article-read .skeleton {
  height: 2em;
  background-color: #ccc;
  margin: .4em;
}
/* line 562, ../../sass/web.scss */
.article-read h1 {
  font-family: Poppins-Bold;
  line-height: 1.5em;
}
/* line 565, ../../sass/web.scss */
.article-read h1.skeleton {
  width: 55%;
}
/* line 569, ../../sass/web.scss */
.article-read .article-text {
  padding: .8em;
  font-family: Merriweather-Light;
  font-size: 1.1em;
  line-height: 1.5em;
}
/* line 575, ../../sass/web.scss */
.article-read .article-text::selection {
  background-color: #12172d;
  color: white;
}
/* line 580, ../../sass/web.scss */
.article-read .date {
  padding: .6em 0;
  font-family: Lexend;
}
/* line 583, ../../sass/web.scss */
.article-read .date.skeleton {
  height: 1em;
  width: 50%;
}
/* line 588, ../../sass/web.scss */
.article-read .caption {
  height: 50vh;
  border-radius: .4em;
}
/* line 592, ../../sass/web.scss */
.article-read p {
  padding: .4em;
}
/* line 594, ../../sass/web.scss */
.article-read p.skeleton {
  height: .5em;
  border-radius: .5em;
}

/* line 600, ../../sass/web.scss */
.appreciation {
  padding: .4em;
}
/* line 602, ../../sass/web.scss */
.appreciation .text {
  font-family: Lexend-Medium;
  font-size: 1.4em;
  padding: .4em;
}
/* line 606, ../../sass/web.scss */
.appreciation .text.skeleton {
  background-color: #eee;
  height: 1em;
}
/* line 611, ../../sass/web.scss */
.appreciation button {
  margin: .2em;
}
/* line 613, ../../sass/web.scss */
.appreciation button icon {
  font-size: 1.4em;
  padding: 0 .4em;
}
/* line 617, ../../sass/web.scss */
.appreciation button.skeleton {
  width: 20%;
}

/* line 625, ../../sass/web.scss */
.punchlines-page h1 {
  padding: .6em .4em;
}
/* line 628, ../../sass/web.scss */
.punchlines-page .filter-zone {
  padding: .3em .5em;
  border-bottom: 1px solid #ccc;
}
/* line 630, ../../sass/web.scss */
.punchlines-page .filter-zone .wrapper {
  padding: .2em;
}
/* line 632, ../../sass/web.scss */
.punchlines-page .filter-zone .wrapper label {
  padding: .2em;
  font-family: Lexend-Medium;
}
/* line 636, ../../sass/web.scss */
.punchlines-page .filter-zone .wrapper .field {
  background-color: rgba(200, 200, 200, 0.2);
}
/* line 642, ../../sass/web.scss */
.punchlines-page .grid {
  background-color: #fafafa;
  min-height: 70vh;
  padding: .5em;
}
/* line 646, ../../sass/web.scss */
.punchlines-page .grid .wrapper {
  padding: .1em;
  height: 10em;
}
/* line 650, ../../sass/web.scss */
.punchlines-page .grid .punchline {
  height: 10em;
  background-color: white;
  border-radius: .4em;
  background-size: auto 100%;
}
/* line 655, ../../sass/web.scss */
.punchlines-page .grid .punchline.skeleton {
  background-color: #eee;
}
/* line 660, ../../sass/web.scss */
.punchlines-page .preview {
  position: fixed;
  width: 100%;
  right: 0;
  padding-top: 1em;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 -2px 4px 0 #777;
  top: calc(100%);
  background-color: var(--theme-color);
  color: var(--theme);
  bottom: 0;
  transition-duration: .2s;
  transition-property: top;
}
/* line 673, ../../sass/web.scss */
.punchlines-page .preview.flexible {
  top: 50%;
}
/* line 676, ../../sass/web.scss */
.punchlines-page .preview .head {
  height: 3.5em;
  padding: .3em;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
/* line 683, ../../sass/web.scss */
.punchlines-page .preview .head icon {
  font-size: 1.2em;
  color: white;
  padding: .5em;
}
/* line 689, ../../sass/web.scss */
.punchlines-page .preview .image {
  background-size: auto 100%;
}
/* line 692, ../../sass/web.scss */
.punchlines-page .preview .metadata {
  padding: .3em;
  font-family: Poppins;
}
/* line 695, ../../sass/web.scss */
.punchlines-page .preview .metadata .title {
  font-family: Poppins-Medium;
  padding: .4em 0;
  font-size: 1.2em;
}
/* line 700, ../../sass/web.scss */
.punchlines-page .preview .metadata .artist, .punchlines-page .preview .metadata .year {
  padding: .2em;
}
/* line 703, ../../sass/web.scss */
.punchlines-page .preview .metadata .year {
  font-size: .8em;
}
/* line 706, ../../sass/web.scss */
.punchlines-page .preview .metadata .comment {
  padding: 1em;
  background-color: rgba(240, 240, 240, 0.1);
  font-family: Poppins-Light;
  margin: .4em 0;
  font-size: .9em;
}
/* line 714, ../../sass/web.scss */
.punchlines-page .preview .actions {
  padding: .4em;
}
/* line 717, ../../sass/web.scss */
.punchlines-page .preview .actions button icon {
  padding: 0 .6em;
}
/* line 723, ../../sass/web.scss */
.punchlines-page footer {
  color: var(--theme-color);
  background-color: unset;
}

@keyframes fade-inout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  /* line 746, ../../sass/web.scss */
  .trending .article-thumb .metadata .title {
    padding: .3em 0;
    font-size: 1.6em;
  }
  /* line 750, ../../sass/web.scss */
  .trending .article-thumb .metadata .subtitle {
    font-size: 1em;
    line-height: 1.8em;
  }
  /* line 754, ../../sass/web.scss */
  .trending .article-thumb .metadata .date {
    padding: .4em;
  }

  /* line 760, ../../sass/web.scss */
  .contact-us .image .mask {
    background-image: unset;
  }
  /* line 766, ../../sass/web.scss */
  .contact-us .form .wrapper:first-child {
    padding-right: .3em;
  }
  /* line 769, ../../sass/web.scss */
  .contact-us .form .wrapper:last-child {
    padding-left: .3em;
  }

  /* line 775, ../../sass/web.scss */
  .punchlines-page {
    --preview-width: 45%;
  }
  /* line 777, ../../sass/web.scss */
  .punchlines-page .grid {
    transition-duration: .2s;
    transition-property: width;
  }
  /* line 780, ../../sass/web.scss */
  .punchlines-page .grid .punchline {
    transition-duration: .2s;
    transition-property: height;
  }
  /* line 784, ../../sass/web.scss */
  .punchlines-page .grid.flexible {
    width: calc(100% - var(--preview-width));
  }
  /* line 786, ../../sass/web.scss */
  .punchlines-page .grid.flexible .punchline {
    height: 7em;
  }
  /* line 789, ../../sass/web.scss */
  .punchlines-page .grid.flexible .wrapper {
    height: 7em;
  }
  /* line 794, ../../sass/web.scss */
  .punchlines-page .preview {
    position: fixed;
    width: 0;
    right: 0;
    top: 100px;
    bottom: 40px;
    border-radius: 0;
    transition-property: width,opacity;
    opacity: 0;
  }
  /* line 803, ../../sass/web.scss */
  .punchlines-page .preview.flexible {
    opacity: 1;
    top: 70px;
    width: var(--preview-width);
  }
}
